.commands {
  font-style: italic;
}
.me {
  font-family: monospace;
  font-family: fantasy;;
}
.whodat {
 text-align: center;
}
.NBS {
  font-style: italic;
}

.important {
  font-weight: bolder;
  font-style: italic;
}
